<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">    
        <a class="nav-bar-brand"href="index.php"><img class="navbar-brand col-2" src="assets/img/icon/logo.png" alt="Zerveza"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.php?p=menu">Le Menu</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.php?p=locate">Nous Trouver</a>
                </li> 
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.php?p=contact">Nous Contacter</a>
                </li>          
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="index.php?p=account">Mon compte</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="index.php?p=logout">Me déconnecter</a>
                </li> 
                <li class="nav-item">
                <a class="nav-link " href="index.php?p=register">M'inscrire</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " href="index.php?p=login">Me Connecter</a>
                </li>
            </ul>
        </div>    
    </div>
</nav>